repos:
-   repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.12.0
    hooks:
    -   id: black
        args: [--safe, --quiet]
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: check-yaml
    -   id: debug-statements
-   repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
    -   id: flake8
        additional_dependencies:
          - flake8-typing-imports==1.14.0
-   repo: https://github.com/asottile/reorder-python-imports
    rev: v3.16.0
    hooks:
    -   id: reorder-python-imports
        args: ['--application-directories=.:src']
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
    -   id: pyupgrade
        args: [--py37-plus]

- repo: https://github.com/tox-dev/pyproject-fmt
  rev: "v2.11.1"
  hooks:
    - id: pyproject-fmt
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.19.0'
    hooks:
    -   id: mypy
